.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--text-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;

  &:hover {
    background-color: var(--title-color-dark);
  }

  &__icon {
    font-size: 1.5rem;
    color: var(--container-color);
  }
}

// SHOW SCROLL
.show-scroll {
  bottom: 3rem;
}

//Breakpoints
//Large screens
@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;

    &__icon {
      font-size: 1.25rem;
    }
  }
}

//Medium screens
@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

//Small screens
@media screen and (max-width: 350px) {
  .scrollup {
    right: 1rem;
  }
}
