// SKILLS SECTION
.fa-html5:before {
  color: #e34c26;
}

.fa-css3-alt:before {
  color: #264de4;
}

.fa-sass:before {
  color: #c66395;
}

.fa-js:before {
  color: #f0db4f;
}

.fa-git-alt:before {
  color: #f1502f;
}

.fa-react:before {
  color: #61dbfb;
}

.fa-node-js:before {
  color: #68a063;
}

.fa-certificate:before {
  color: #303030;
}

.fa-envira:before {
  color: #4db33d;
}

.fa-database:before {
  color: #ffca28;
}

.fa-swatchbook:before {
  color: #30a3f8;
}

.photoshop {
  color: #30a3f8;
  background-color: #001d34;
  border-radius: 0.3rem;
  padding: 0.13rem;
  display: flex;
  height: 30px;
  line-height: 25px;
  font-size: 24px;
  font-weight: 600;
}

.illustrator {
  color: #f89600;
  background-color: #320000;
  border-radius: 0.3rem;
  padding: 0.18rem;
  display: flex;
  height: 30px;
  line-height: 25px;
  font-size: 24px;
  font-weight: 600;
}
.indesign {
  color: #f83263;
  background-color: #47021e;
  border-radius: 0.3rem;
  padding: 0.18rem;
  display: flex;
  height: 30px;
  line-height: 25px;
  font-size: 24px;
  font-weight: 600;
}
.after-effect {
  color: #9595f8;
  background-color: #000058;
  border-radius: 0.3rem;
  padding: 0.18rem;
  display: flex;
  height: 30px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
}

.fa-figma:before {
  color: #343434;
}

.fa-mailchimp:before {
  color: black;
}

.fa-google:before {
  color: #4081ed;
}

.fa-search:before {
  color: #eb7403;
}

.fa-chart-line:before {
  color: #3a87d3;
}

.mongo {
  width: 50px;
}

.firebase {
  width: 25px;
}

.affinity {
  width: 34px;
}

// ABOUT SECTION
.fa-award:before,
.fa-suitcase:before,
.fa-concierge-bell:before {
  color: var(--secondary-color);
}
